*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vh;
    background: url('bp1.jpg');
    background-repeat: no-repeat;

    background-position: center;
    background-size: 1200px;
    overflow: hidden;
    min-width: 1000px;
    }
    /*.wrapper{
    position:absolute;
    width: 400px;
    height: 525px;
    background: transparent;
    box-shadow: 0 8px 32px rgba(40, 179, 214, 0.6);
    border: 1px solid rgba(9, 9, 128, 0.733);
    border-radius: 25px;
    display: flex;
    justify-content: right;
    align-items: right;
    backdrop-filter: blur;
    }*/
    h2{
    font-size: 2em;
    color: rgb(3, 9, 14);
    text-align: center;
    }
    .input-box{
    position: relative;
    width: 310px;
    margin: 20px 50px 12px 450px;
    border-bottom: 2px solid #130606;
    }
    .input-box label{
    position: absolute;
    top: 40%;
    left: 7px;
    transform: translateY(-50%);
    font-size: 1em;
    pointer-events: none;
    color: #080808;
    transition: .5s;
    padding: 0 35px 0 7px;
    }
    .input-box input:invalid~label,
    .input-box input:valid~label{
    top: 7px;
    }
    .input-box input{
    width: 100%;
    height: 55px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #0f0e0e;
    padding: 0 30px 0 10px;
    }
    .input-box .icon{
    position: absolute;
    left: -15px;
    color: #131212;
    font-size: 1.2em;
    line-height: 57px;
    }
    .remember-forgot{
    margin: -15px 0 15px;
    font-size: .9em;
    color: #141414;
    display: flex;
    justify-content: space-between;
    }
    .remember-forgot a{
    color: #050505;
    text-decoration: none;
    }
    .remember-forgot a:hover{
    text-decoration: underline;
    }
    .remember-forgot label input{
    accent-color: #0a0909;
    margin-right: 3px;
    }
    button{
    width: 20%;
    height: 45px;
    background: rgb(190, 132, 77);
    border-radius: 40px -20px 10px -20px ;
    cursor: pointer;
    font-size: 1em;
    color: #0e0b0b;
    font-weight: 500;
    border-color: rgb(233, 236, 16);
    border-style:solid;
    clip-path: polygon(72% 24%, 98% 51%, 75% 79%, 0 80%, 20% 49%, 0 23%);
    }
    .register-link{
    font-size: 1em;
    text-align: center;
    color: #0e0b0b;
    margin: 25px 0 10px;
    }
    .register-link p a{
    color: #0a0707;
    text-decoration: none;
    font-weight: 400;
    }
    .register-link p a:hover{
    text-decoration: underline;
    }
    .eye-off{
    position: absolute;
    right: 7px;
    color: #0c0a0a;
    }
    .eye{
    position: absolute;
    right: 10px;
    color: #131111;
    }
    #hide1{
    display: none;
    }